<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBS1XX1arE-NAb7HgTS5JyHSaSrRWu6C1g</string>
	<key>GCM_SENDER_ID</key>
	<string>642460479453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clientfitTracker.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>clientfittracker</string>
	<key>STORAGE_BUCKET</key>
	<string>clientfittracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642460479453:ios:2e98be7e7b37b92001d034</string>
</dict>
</plist>